<div class="container-fluid">
    <div class="row">
       <div class="col-sm-12">
          <div class="iq-card">
             <div class="iq-card-body profile-page p-0">
                <div class="profile-header">
                   <div class="cover-container">
                      <ul class="header-nav d-flex flex-wrap justify-end p-0 m-0">
                         <li><a href="javascript:void();"><i class="ri-pencil-line"></i></a></li>
                         <li><a href="javascript:void();"><i class="ri-settings-4-line"></i></a></li>
                      </ul>
                   </div>
                   <div class="profile-info p-4">
                      <div class="row">
                         <div class="col-sm-12 col-md-6">
                            <div class="user-detail pl-5">
                               <div class="d-flex flex-wrap align-items-center">
                                  <div class="profile-img pr-4">
                                  </div>
                                  <div class="profile-detail d-flex align-items-center">
                                     <h3>{{user.nom}} {{user.prenom}}</h3>
                                     <p class="m-0 pl-3"> {{user.grade}}</p>
                                  </div>
                               </div>
                            </div>
                         </div>
                         
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-sm-12">
          <div class="row">
             
             <div class="col-lg-12 profile-center">
                <div class="tab-content">
                   <div class="tab-pane fade active show" id="profile-feed" role="tabpanel">
                      <div class="iq-card">
                         <div class="iq-card-body p-0">
                            <div class="user-post-data p-3">
                               <div class="d-flex flex-wrap">
                                  <div class="media-support-user-img mr-3">
                                     <img class="rounded-circle img-fluid" src="images/user/01.jpg" alt="">
                                  </div>
                                  <div class="media-support-info mt-2">
                                     <h5 class="mb-0"><a href="#" class="">{{user.nom}} {{user.prenom}}</a></h5>
                                     <p class="mb-0 text-primary">Telephone: {{user.telephone}}</p>
                                     <p class="mb-0 text-primary">Email: {{user.email}}</p>
                                  </div>
                                  <div class="iq-card-header-toolbar d-flex align-items-center">
                                     <div class="dropdown">
                                        <span class="dropdown-toggle text-primary" id="dropdownMenuButton52" data-toggle="dropdown">
                                        </span>
                                        <div class="dropdown-menu dropdown-menu-right p-0">
                                           
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div class="user-post">
                            </div>
                            
                         </div>
                      </div>
                   </div>
                  
                </div>
             </div>
             
          </div>
       </div>
    </div>
 </div>