<div class="iq-sidebar">
    <div class="iq-sidebar-logo d-flex justify-content-between">
       <a href="index.html">
       <img src="images/logo.gif" class="img-fluid" alt="">
       <span>Gestion PFE</span>
       </a>
       <div class="iq-menu-bt-sidebar">
          <div class="iq-menu-bt align-self-center">
             <div class="wrapper-menu">
                <div class="main-circle"><i class="ri-arrow-left-s-line"></i></div>
                <div class="hover-circle"><i class="ri-arrow-right-s-line"></i></div>
             </div>
          </div>
       </div>
    </div>
    <div id="sidebar-scrollbar">
       <nav class="iq-sidebar-menu">
          <ul id="iq-sidebar-toggle" class="iq-menu">
             <li>
                <a href="/home" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Accueil</span></a>
             </li>
             <li>
               <a href="/enseignants" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Enseignants</span></a>
            </li>
            <li>
              <a href="/entreprise" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Encadreur Entreprise</span></a>
           </li>
            <li>
               <a href="/etudiants" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Etudiants</span></a>
            </li>
            <li>
               <a href="/projets" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Projets</span></a>
            </li>
            <li>
               <a href="/demandes" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Demandes</span></a>
            </li>
            <li>
               <a href="/soutenance" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Soutenance</span></a>
            </li>
          </ul>
       </nav>
       <div class="p-3"></div>
    </div>
 </div>